@font-face {
  font-family: "Logirent";
  src: url(../Logirent-font.otf) format('opentype');
}

.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin: 20px; */
  margin-top: 120px;

  @media screen and (max-width:567px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;
  width: 60vw;

  @media screen and (max-width:567px) {
    margin-right: 0;
    width: 90vw;
    margin-bottom: 40px;
    height: auto;
  }
}

.form-input-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -30px;

  @media screen and (max-width:567px) {
    margin-right: 0;
    width: 90vw;
    margin-bottom: 40px;
    height: auto;
  }
}

.login-form {
  background-color: #161b22;
  border-radius: 10px;
  border: 1px solid #bdadc5;
  box-shadow: 0 0 30px 18px #2e2424;
  padding: 10px;
  /* text-align: center; */
  width: 50vw;
  min-width: 370px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width:567px) {
    min-width: 0;
    width: 100%;

  }

}
.login-form .title {
  margin-top: 0;
  flex-direction: 0 0 100%;
}

.login-form .title h2{
  margin-top: 0;
  /* margin-bottom: 10px; */
  font-size: 4.5vw;
  background-image: linear-gradient(
  90deg,
  hsl(180deg 57% 24%) 0%,
  hsl(180deg 59% 26%) 6%,
  hsl(180deg 62% 28%) 12%,
  hsl(180deg 64% 30%) 17%,
  hsl(180deg 67% 32%) 22%,
  hsl(180deg 52% 38%) 27%,
  hsl(180deg 39% 45%) 33%,
  hsl(180deg 32% 50%) 39%,
  hsl(180deg 32% 56%) 45%,
  hsl(180deg 31% 57%) 52%,
  hsl(180deg 27% 48%) 61%,
  hsl(180deg 32% 40%) 70%,
  hsl(180deg 40% 32%) 82%,
  hsl(180deg 57% 24%) 100%
);
  background-clip: text;
  background-size: 300%;
  animation: textShine 3s ease-in-out infinite alternate;

  @media screen and (max-width:567px) {
    font-size: 20vw;
  }
}

.input-container {
  flex: 0 0 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container label {
  font-size: 20px;
  text-align: start;
  margin-left: 50px;
  align-self: flex-start;
  @media screen and ( max-width:567px) {
    margin-left: 10px;
  }
}

.input-form {
  flex: 0 0 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  @media screen and (max-width:567px) {
    margin-top: -40px;
    margin-left: 0;
    flex-direction: column;
  }
}

.input-container select {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: #161b22;
  @media screen and (max-width:567px) {
    width: 100%;
  }
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: #161b22;
  @media screen and (max-width:567px) {
    width: 100%;
  }
}

.button-container {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 40px;

  @media screen and (max-width:567px) {
    flex: 0 0 100%;
    margin: 10px 0 15px 0;
  }
}

button[type="submit"] {
  width: 30%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;

  @media screen and (max-width:567px) {
    width: 40%;
  }

}

button[type="submit"]{
  transition: all 0.3s ease-in;
}

button[type="submit"]:hover {
  box-shadow: 0 0 30px 18px #2e2424 ;
}

.flip-in-ver-left-9ms {
	-webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms both;
	        animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms both;
}
@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

/* Features Styles */

.mt-n100 {
  margin-top: -100px;
  @media screen and (max-width:567px) {
    margin-top: 0;
  }

}

.logo-holder {
  flex: 1;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 50vw;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
	-webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
	        animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;

  @media screen and (max-width:567px) {
    margin-bottom: 60px;
  }
}

.container-logo .logo-text {
  background-image: linear-gradient(
  45deg,
  hsl(180deg 57% 24%) 0%,
  hsl(180deg 59% 26%) 6%,
  hsl(180deg 62% 28%) 12%,
  hsl(180deg 64% 30%) 17%,
  hsl(180deg 67% 32%) 22%,
  hsl(180deg 52% 38%) 27%,
  hsl(180deg 39% 45%) 33%,
  hsl(180deg 32% 50%) 39%,
  hsl(180deg 32% 56%) 45%,
  hsl(180deg 31% 57%) 52%,
  hsl(180deg 27% 48%) 61%,
  hsl(180deg 32% 40%) 70%,
  hsl(180deg 40% 32%) 82%,
  hsl(180deg 57% 24%) 100%
);
  font-size: 12vw;
  font-weight: 600;
  font-family: "Logirent";
  text-align: center;
  -webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both,textShine 4s ease-in-out infinite alternate;

  @media screen and (max-width:567px) {
    font-size: 24vw;
  }

}

/* .logo-holder .letter {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width:567px) {
    flex: 1 1 0;
  }
}

.logo-holder .letter.left {
  align-items: flex-start;
}

.logo-holder .letter.left.center {
  @media screen and (max-width:567px) {
    align-items: center; 
  }
}

.logo-holder .letter.right {
  align-items: flex-end;
  margin-left: -200px;

  @media screen and(max-width:1300px) {
    margin-left: 0px;
  }

  @media screen and (max-width:1200px) {
    margin-left: 0px;
  }

  @media screen and (max-width:567px) {
    margin-left: 0;
    align-items: flex-start;
    flex: 1 1 0;
  }
} */

.features-number {
  font-size: 10em;
  font-weight: 800;
}

.features-number h2 {
  background-image: linear-gradient(
  90deg,
  hsl(180deg 57% 24%) 0%,
  hsl(180deg 59% 26%) 6%,
  hsl(180deg 62% 28%) 12%,
  hsl(180deg 64% 30%) 17%,
  hsl(180deg 67% 32%) 22%,
  hsl(180deg 52% 38%) 27%,
  hsl(180deg 39% 45%) 33%,
  hsl(180deg 32% 50%) 39%,
  hsl(180deg 32% 56%) 45%,
  hsl(180deg 31% 57%) 52%,
  hsl(180deg 27% 48%) 61%,
  hsl(180deg 32% 40%) 70%,
  hsl(180deg 40% 32%) 82%,
  hsl(180deg 57% 24%) 100%
);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1em;
  font-weight: 800;
  margin: 0;
  padding: 0;
  background-size: 300% auto;
  animation: textShine 3s ease-in-out infinite alternate, flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.features-number h2.delay-2 {
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both,textShine 3s ease-in-out infinite alternate;
}

.features-number h2.delay-4 {
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 400ms both,textShine 3s ease-in-out infinite alternate;
}

.features-number h2.delay-6 {
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms both,textShine 3s ease-in-out infinite alternate;
}

.features-number h2.delay-8 {
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 800ms both,textShine 3s ease-in-out infinite alternate;
}


@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

@media screen and (max-width: 479px) {
  .features-number {
    font-size: 7em;
  }
}

.liveAlertPlaceholder {
  flex: 0 0 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.alert {
  padding: 15px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 0 0 30px 18px #2e2424;

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* EVENT PAGE STYLES!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.form-container-even {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin: 20px; */
  margin-top: 110px;

  @media screen and (max-width:567px) {
    flex-direction: column;
    margin-top: 30px;
  }
  
}

.form-container-even .main-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 50vw;
  margin-left: 7vw;
  
  @media screen and (max-width:567px) {
    text-align: center;
    margin-left: 0;
    margin-bottom: 30px;
    justify-content: center;
  }

  animation: flip-in-ver-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.features-number h2.event-page {
  background-image: linear-gradient(
  90deg,
  hsl(180deg 57% 24%) 0%,
  hsl(180deg 59% 26%) 6%,
  hsl(180deg 62% 28%) 12%,
  hsl(180deg 64% 30%) 17%,
  hsl(180deg 67% 32%) 22%,
  hsl(180deg 52% 38%) 27%,
  hsl(180deg 39% 45%) 33%,
  hsl(180deg 32% 50%) 39%,
  hsl(180deg 32% 56%) 45%,
  hsl(180deg 31% 57%) 52%,
  hsl(180deg 27% 48%) 61%,
  hsl(180deg 32% 40%) 70%,
  hsl(180deg 40% 32%) 82%,
  hsl(180deg 57% 24%) 100%
);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 10vw;
  font-weight: 800;
  font-family: "Logirent";
  margin: 0;
  padding: 0;
  background-size: 300% auto;

  @media screen and (max-width:567px) {
    font-size: 17vw;
  }

  animation: textShine 4s ease-in-out infinite alternate;
}

.continer {
  display: flex;
  width: 50vw;
  /* background-color: white; */
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}

.qr-container {
  padding: 10px;
  background-color: white;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* Timeline Styles */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

section.timeline-section {
  box-sizing: border-box;
  min-height: 0;
}

.timeline {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  position: relative;
  max-height: 1800px;
  @media screen and (max-width: 567px) {
    min-height: 1250px;
  }
}
.timeline__event {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  margin: 9px 0;
  border-radius: 6px;
  align-self: center;
  width: 50vw;
}
.timeline__event:nth-child(2n + 1) {
  flex-direction: row-reverse;
}
.timeline__event:nth-child(2n + 1) .timeline__event__date {
  border-radius: 0 6px 6px 0;
}
.timeline__event:nth-child(2n + 1) .timeline__event__content {
  border-radius: 6px 0 0 6px;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #71797E;
  position: absolute;
  top: 0%;
  left: 50%;
  right: auto;
  z-index: -1;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event:nth-child(2n + 1) .timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #71797E;
  position: absolute;
  right: 0;
  z-index: -1;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  animation: fillLeft 2s forwards 4s ease-in-out;
}
.timeline__event__title {
  display: flex;
  align-items: center;
  font-size: 2.2vw;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Logirent" !important; 

  background-image: linear-gradient(
  90deg,
  hsl(180deg 57% 24%) 0%,
  hsl(180deg 59% 26%) 6%,
  hsl(180deg 62% 28%) 12%,
  hsl(180deg 64% 30%) 17%,
  hsl(180deg 67% 32%) 22%,
  hsl(180deg 52% 38%) 27%,
  hsl(180deg 39% 45%) 33%,
  hsl(180deg 32% 50%) 39%,
  hsl(180deg 32% 56%) 45%,
  hsl(180deg 31% 57%) 52%,
  hsl(180deg 27% 48%) 61%,
  hsl(180deg 32% 40%) 70%,
  hsl(180deg 40% 32%) 82%,
  hsl(180deg 57% 24%) 100%
);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 500% auto;
  animation: textShine 4s ease-in-out infinite alternate;

  @media screen and (max-width:767px) {
    text-align: center;
    justify-content: center;
  }
}
.timeline__event__content {
  padding: 20px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  background: #161b22;
  width: calc(40vw - 84px);
  border-radius: 0 6px 6px 0;
  font-family: "Logirent" !important;
}
.timeline__event__date {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  background: #31353b;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 20px;
  border-radius: 6px 0 0 6px;
}
.timeline__event__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  align-self: center;
  margin: 0 20px;
  background: #31353b;
  border-radius: 100%;
  width: 40px;
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  padding: 40px;
  height: 40px;
  position: relative;
}
.timeline__event__icon i {
  font-size: 32px;
}
.timeline__event__icon:before {
  content: "";
  width: 2px;
  height: 100%;
  background: #71797E;
  position: absolute;
  top: 0%;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  animation: fillTop 2s forwards 4s ease-in-out;
}
.timeline__event__icon:after {
  content: "";
  width: 100%;
  height: 2px;
  background: #71797E;
  position: absolute;
  left: 0%;
  z-index: -1;
  top: 50%;
  transform: translateY(-50%);
  animation: fillLeftOdd 2s forwards 4s ease-in-out;
}
.timeline__event__description {
  flex-basis: 60%;
  font-size: 18px;
}
.timeline__event--type2:after {
  background: #161b22;
}
.timeline__event--type2 .timeline__event__date {
  color: white;
  background: #31353b;
}
.timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:before, .timeline__event--type2:nth-child(2n + 1) .timeline__event__icon:after {
  background: white;
}
.timeline__event--type2 .timeline__event__icon {
  background: #31353b;
  color: white;
}
.timeline__event--type2 .timeline__event__icon:before, .timeline__event--type2 .timeline__event__icon:after {
  background: #71797E;
}
.timeline__event--type2 .timeline__event__title {
  color: #0434b4;
}
.timeline__event--type3:after {
  background: #71797E;
}
.timeline__event--type3 .timeline__event__date {
  color: #fff;
  background-color: #31353b;
}
.timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:before, .timeline__event--type3:nth-child(2n + 1) .timeline__event__icon:after {
  background: #71797E;
}
.timeline__event--type3 .timeline__event__icon {
  background: #31353b;
  color: #fff;
}
.timeline__event--type3 .timeline__event__icon:before, .timeline__event--type3 .timeline__event__icon:after {
  background: #71797E;
}
.timeline__event--type3 .timeline__event__title {
  color: #0434b4;
}
.timeline__event:last-child .timeline__event__icon:before {
  content: none;
}
@media (max-width: 786px) {
  .timeline__event {
      flex-direction: column;
      align-self: center;
      width: 80vw;
 }
  .timeline__event__content {
      width: 100%;
 }
  .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      width: 100%;
      margin: 0;
      box-shadow: none;
 }
  .timeline__event__icon:before, .timeline__event__icon:after {
      display: none;
 }
  .timeline__event__date {
      border-radius: 0;
      padding: 20px;
 }
  .timeline__event:nth-child(2n + 1) {
      flex-direction: column;
      align-self: center;
 }
  .timeline__event:nth-child(2n + 1) .timeline__event__date {
      border-radius: 0;
      padding: 20px;
 }
  .timeline__event:nth-child(2n + 1) .timeline__event__icon {
      border-radius: 6px 6px 0 0;
      margin: 0;
 }
}
@keyframes fillLeft {
  100% {
      right: 100%;
 }
}
@keyframes fillTop {
  100% {
      top: 100%;
 }
}
@keyframes fillLeftOdd {
  100% {
      left: 100%;
 }
}

.timeline-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.timeline-section {
  margin-top: 40px;
}

.section-title {
  flex: 1;
  width: fit-content;
}

.title-container {
  width: fit-content;
}

.section-title .title {
  font-size: 10vw;
  font-weight: 500;
}

@media screen and (max-width:768px) {
  .timeline-container{
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
  }

  .timeline-section {
      margin-top: 100px;
  }

  .timeline-section .timeline-container .section-title .title-container .title {
      font-size: 10vw;
  }
  .timeline__event__title {
      font-size: 5vw;
      line-height: 1.2;
      text-transform: uppercase;
      font-weight: 600;
      color: #0434b4;
      letter-spacing: 1.5px;
      text-align: center;
  }
}