.form-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  /* margin: 20px; */
  margin-top: 110px;

  @media screen and (max-width:567px) {
    flex-direction: column;
  }
}

.form-input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  margin-left: -200px;
  margin-top: -30px;

  @media screen and (max-width:567px) {
    margin-left: 0;
    width: 90vw;
    margin-bottom: 40px;
  }
}

.login-form {
  background-color: #161b22;
  border-radius: 10px;
  border: 1px solid #bdadc5;
  box-shadow: 0 0 30px 18px #2e2424;
  padding: 20px;
  /* text-align: center; */
  width: 30vw;
  min-width: 370px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (max-width:567px) {
    min-width: 0;
    width: 100%;

  }

}
.login-form .title {
  margin-top: 0;
  flex-direction: 0 0 100%;
}

.login-form .title h2{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 4.5vw;
  background-image: linear-gradient(
  45deg,
  hsl(268deg 34% 46%) 0%,
  hsl(281deg 32% 48%) 30%,
  hsl(284deg 29% 64%) 50%,
  hsl(276deg 43% 85%) 100%
);
  background-clip: text;
  animation: textShine 2s ease-in-out infinite alternate;

  @media screen and (max-width:567px) {
    font-size: 20vw;
  }
}

.input-container {
  margin:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mt {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-container label {
  font-size: 20px;
  text-align: start;
  margin-left: 50px;
  align-self: flex-start;
  @media screen and ( max-width:567px) {
    margin-left: 10px;
  }
}

.input-form {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  @media screen and (max-width:567px) {
    margin-top: -40px;
  }
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  font-size: 16px;
  background-color: #161b22;
  @media screen and (max-width:567px) {
    width: 100%;
  }
}

.button-container {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;

  @media screen and (max-width:567px) {
    flex: 0 0 150%;
    margin-bottom: 0;
    margin-top: -20px;
  }
}

button[type="submit"] {
  width: 30%;
  padding: 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

button[type="submit"]{
  transition: all 0.3s ease-in;
}

button[type="submit"]:hover {
  box-shadow: 0 0 30px 18px #2e2424 ;
}

.flip-in-ver-left-9ms {
	-webkit-animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms both;
	        animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms both;
}
@-webkit-keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-left {
  0% {
    -webkit-transform: rotateY(80deg);
            transform: rotateY(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}

/* Features Styles */

.container-logo {
  align-self: flex-start;
  margin-left: 200px;
  flex: 1;
  margin-top: -90px;

  @media screen and (max-width:1200px) {
    margin-left: 100px;
    margin-bottom: 500px;
  }


}

.mt-n100 {
  margin-top: -100px;
  @media screen and (max-width:567px) {
    margin-top: 0;
  }

}

.logo-holder {
  flex: 1;
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 50vw;
}

.logo-holder .letter {
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (max-width:567px) {
    flex: 1 1 0;
  }
}

.logo-holder .letter.left {
  align-items: flex-start;
}

.logo-holder .letter.left.center {
  @media screen and (max-width:567px) {
    align-items: center; 
  }
}

.logo-holder .letter.right {
  align-items: flex-end;
  margin-left: -200px;

  @media screen and(max-width:1300px) {
    margin-left: 0px;
  }

  @media screen and (max-width:1200px) {
    margin-left: 0px;
  }

  @media screen and (max-width:567px) {
    margin-left: 0;
    align-items: flex-start;
    flex: 1 1 0;
  }
}

.features-number {
  font-size: 10em;
  font-weight: 800;
}

.features-number h2 {
  background:  linear-gradient(
    45deg,
    hsl(340deg 69% 3%) 0%,
    hsl(261deg 43% 17%) 10%,
    hsl(267deg 35% 38%) 27%,
    hsl(276deg 33% 47%) 50%,
    hsl(285deg 29% 58%) 74%,
    hsl(276deg 43% 85%) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1em;
  font-weight: 800;
  margin: 0;
  padding: 0;
  background-size: 300% auto;
  animation: textShine 3s ease-in-out infinite alternate, flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.features-number h2.delay-2 {
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms both,textShine 3s ease-in-out infinite alternate;
}

.features-number h2.delay-4 {
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 400ms both,textShine 3s ease-in-out infinite alternate;
}

.features-number h2.delay-6 {
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 600ms both,textShine 3s ease-in-out infinite alternate;
}

.features-number h2.delay-8 {
  animation: flip-in-ver-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 800ms both,textShine 3s ease-in-out infinite alternate;
}


@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}

/* @keyframes gradient {
  0%{
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} */

@media screen and (max-width: 479px) {
  .features-number {
    font-size: 7em;
  }
}

.liveAlertPlaceholder {
  flex: 0 0 100%;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
}

.alert {
  /* width: 100%;
  height: 100%; */
  padding: 15px;
  border: 2px solid white;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  box-shadow: 0 0 30px 18px #2e2424;

}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* EVENT PAGE STYLES!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.form-container-even {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* margin: 20px; */
  margin-top: 110px;

  @media screen and (max-width:567px) {
    flex-direction: column;
  }
}

.form-container-even .main-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 50vw;
  margin-left: 7vw;
}

.features-number h2.event-page {
  background:  linear-gradient(
    45deg,
  hsl(268deg 34% 46%) 0%,
  hsl(281deg 32% 48%) 30%,
  hsl(284deg 29% 64%) 50%,
  hsl(276deg 43% 85%) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1em;
  font-weight: 800;
  margin: 0;
  padding: 0;
  background-size: 300% auto;
  animation: textShine 3s ease-in-out infinite alternate;
}

.continer {
  margin-right: 30px;
  background-color: white;

}

.qr-container {
  padding: 10px;
}



